<div class="welcome pb-4 pt-3">Welcome to BookStore with LocalDataBase</div>

<div class="container-fluid">
  <div class="row g-3">
    <div class="col-sm-12 col-md-4 col-lg-4" *ngFor="let item of data">
      <div class="card "  style="width: 18rem;">
        <img src="{{item.image}}" class="card-img-top" alt="">
        <div class="card-body" >
          <div class="card-title">{{item.book}}</div>
          <p class="card-text">{{item.author}}</p>
          <div class="d-grid gap-2">
            <a href="#" class="btn btn-primary">Download</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

