

/*  */
.login-title{
  font-weight: 700;
}
/* form */
.form-login{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
/* img */
.login-img{
  width: 80px;
  height: 70px;
}
/* img */

/* button */
.btn-book{
  background-color: #34990f;
  color: white;
  font-weight: 700;
}

.btn-book:hover{
  background-color: #202221;
  color: white;
}
