<div class="container-fluid pt-5">
  <div class="row pt-5 g-2">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <main class="form-login pt-5">
      <form >
        <img class="mb-4 login-img" alt src="../../assets/icon-192.png" >
        <h3 class="mb-3 mt-2 login-title">Login Form</h3>

        <div class="form-floating pb-3">
          <input type="text" class="form-control" id="username" placeholder="Aisha">
          <label for="floatingInput">Name</label>
        </div>

        <div class="form-floating pb-3">
          <input type="password" class="form-control" id="password" placeholder="*******">
          <label for="floatingInput">Password</label>
        </div>

        <button (click)="login()" class="w-100 btn btn-lg btn-book" type="submit">Login</button>
      </form>
    </main>
  </div>


  </div>
</div>
