<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- google Fonts Online -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <!-- google Fonts Online -->
  <title>BookStore</title>
</head>
<body>
  <app-navbar></app-navbar>
  <div class="container">
  <router-outlet></router-outlet>
</div>

  <!-- <app-footer></app-footer> -->

</body>
</html>
