<div class="pt-5"></div>
<div class="row">
  <nav class="navbar fixed-bottom bg-footer">
    <div class="container-fluid  ">
        <div class="col-6 ">
          <a class="navbar-brand px-5 text-brand" href="#">
            BookStore Online
          </a>
        </div>
        <div class="col-6 d-flex justify-content-around ">
          <span class="fac ">
            <a href="">
              Facebook
            </a>
            </span>
          <span class="LinkedIn ">
            <a href="">LinkedIn</a>
          </span>
        </div>

    </div>
  </nav>
</div>

